<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
	<div th:fragment="resultsList" class="grid_10 height800" id="idRepresaTable">
		
		<table  class="fancyTable" id="myRepresa" cellpadding="0" cellspacing="0" >
			<thead>
				<tr>
					<th th:text="${#messages.msg('represa.table.col1')}" style="width: 90px;"></th>
					<th th:text="${#messages.msg('represa.table.col2')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('represa.table.col3')}" style="width: 20px;"></th>
					<th th:text="${#messages.msg('represa.table.col4')}" style="width: 300px;"></th>
					<th th:text="${#messages.msg('represa.table.col5')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('represa.table.col6')}" style="width: 50px;"></th>
					<th th:text="${#messages.msg('represa.table.col7')}" style="width: 120px;"></th>
					<th th:text="${#messages.msg('represa.table.col8')}" style="width: 120px;"></th>
					<th th:text="${#messages.msg('represa.table.col9')}" style="width: 120px;"></th>
					<th th:text="${#messages.msg('represa.table.col10')}" style="width: 120px;"></th>
					<th th:text="${#messages.msg('represa.table.col11')}" style="width: 120px;"></th>
				</tr>
			</thead>
			
		</table>
		
		
		<script type="text/javascript">
			$( document ).ready(function() {
				$('#myRepresa').DataTable({
					"bProcessing": true,
					"serverSide": true,
					"searching": false,
					"lengthChange":   false,
					"bJQueryUI": true,
					"scrollX": true,
					"ajax":{
						url :"represa/pagination", // json datasource
			            type: "post",  // type of method  ,GET/POST/DELETE
			            error: function(){
			              $("#myRepresa_processing").css("display","none");
			            },
			            "data": function ( d ) {
			            	d.nombreRepresa = $('#cpDesc').val();
			            	d.abreviatura = $('#cpAbrev').val();
			            	d.estado = $('#cpEstado').val();
			            	d.perteneceAlmacenamiento = $('#cbxAlmacenamiento').val();
			            }
					},
					"order": [ 1, 'asc' ],
					"columnDefs": [ 
						{ targets: '_all', visible: true,  },
						{"width": "50px",
			        		className: "dt-body-center",
			                "targets": [1, 6]                
			            },
			            {"width": "120px",
		        		  	className: "dt-body-center",
		                  	"targets": 2
		              	},
		              	{"width": "100px",
		        		  	className: "dt-body-center",
		                  	"targets": 5
		              	},
		              	{"width": "120px",
		        		  	className: "dt-body-center",
		                  	"targets": 4
		              	},
			            {"width": "250px",
		        		  	className: "dt-body-center",
		                  	"targets": 3
		              	},
		              	{"width": "120px",
		        		  	className: "dt-body-center",
		                  	"targets": [7, 8, 9, 10]
		              	},
		              	{"width": "80px",
		              		className: "dt-body-center",
		              		"orderable": false,
		              		"targets": 0,
		              		visible: true,
		              		"data": 1,
		              		"render": function ( data, type, row) {
		              			return '<table><tr>' +
		              			'<td style="border:none; width:46px;"><button class="btn btn-info btn-modif-punto" title="Editar" onclick="modificarRepresa('+row[1]+')"><span class="glyphicon glyphicon-pencil"></span></button></td>'+
		              			 ((row[6]==='INACTIVO')?'<td style="border:none; width:46px;"></td>':'<td style="border:none; width:46px;"><button class="btn btn-danger btn-delete-punto" title="Inactivar" onclick="inactivarRepresa('+row[1]+')"><span class="glyphicon glyphicon-erase"></span></button></td>') +
		              			'</tr></table>';
		              		}
		              	}
					]
				});
			}); 
		</script>	
		
	</div>
</body>
</html>