<!DOCTYPE html>
<html layout:decorator="layout/main">
<head>
<title th:text="${#messages.msg('represa.title')}"></title>

<script th:inline="javascript">
	/*<![CDATA[*/   
	var mensajeTipo = /*[[${mensajeTipo}]]*/ 'ninguno';
	/*]]>*/
</script>

</head>
<body>
	<div layout:fragment="content">
	
	
			<!-- Modal -->
		<div id="modal-registra-represa" class="modal fade" role="dialog" data-backdrop="static">
			<div class="modal-dialog" style="width: 60%;">
			
				<!-- Modal content-->
			    <div class="modal-content" id="id-modal-content" th:replace="represaEdit :: form-edit-represa">
			    	
			    </div>
			    
			</div>
		</div>
	
	
		<form name="formInactivarepresa" id="form-inactiva-represa" style="display:none;" 
			  th:action="@{/represa/inactivar}" method="post">
			<input type="hidden" id="inacIdRepresa" name="inacIdRepresa" />  
			<button id="form-button-delete-proceso" type="submit">Delete</button>
		</form>	
		
		<h3 class="text-center" th:text="${#messages.msg('home.represa')}"></h3>
		<div class="containerform">
			<div class="container_save" style="display: none;"></div>
			
			<p class="main_heading">
				<legend th:text="${#messages.msg('search.criterios')}">Criterios</legend>
			</p>
			<form name="form-search-tp" id="form-search-tp" action="#"
				 method="post" class="form-horizontal" role="form">
				<fieldset>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-3 text-right no-padding" th:text="${#messages.msg('represa.nombre')}"></label>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<input 	type="text" 
										onkeypress="return MYAPPL.soloLetrasNumerosEspacio(event)" 
										id="cpDesc" 
										name="cpDesc" 
										class="form-control" 
										th:placeholder="${#messages.msg('represa.nombre')}"
										style="text-transform: uppercase;" />
							</div>
							
							<label class="control-label col-md-2 col-sm-2 col-xs-3 text-right no-padding" th:text="${#messages.msg('represa.abreviatura')}"></label>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<input 	type="text" 
										onkeypress="return MYAPPL.soloNumerosLetras(event)" 
										id="cpAbrev" 
										name="cpAbrev" 
										class="form-control" 
										th:placeholder="${#messages.msg('represa.abreviatura')}"
										style="text-transform: uppercase;" />
							</div>
							
						</div>
						<div class="form-group">
							
							<label class="control-label col-md-2 col-sm-2 col-xs-2 text-right no-padding" th:text="${#messages.msg('represa.estado')}"></label>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<select id="cpEstado" name="cpEstado" class="form-control">
								    <option value="">-TODOS-</option>
									<option value="1">ACTIVO</option>
									<option value="2">INACTIVO</option>
								</select>
							</div>
							
							<label class="control-label col-md-2 col-sm-2 col-xs-2 text-right no-padding" th:text="${#messages.msg('represa.pertenece.almacenamiento')}"></label>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<select id="cbxAlmacenamiento" name="cpEstado" class="form-control">
								    <option value="">-TODOS-</option>
									<option value="1" >PERTENECE</option>
									<option value="0">NO PERTENECE</option>
								</select>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="col-md-6 col-sm-6 col-xs-12 no-padding text-left">
					
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 no-padding text-right">
					<button type="button" class="btn btn-info btn-create-represa" data-toggle="modal" data-target="#modal-registra-represa"><span class="glyphicon glyphicon-plus"></span><label th:text="${#messages.msg('represa.agregar')}"></label></button>
					<button type="button" id="idBtnFormBuscarRepresa" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span><label th:text="${#messages.msg('represa.buscar')}"></label></button>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="container_12">
				<div th:replace="represaTable :: resultsList" class="grid_10 height800" id="idRepresaTable"></div>
			</div>
			<script type="text/javascript" th:src="@{/js/represa.js}"></script>
		</div>
	</div>
</body>
</html>