<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- <link rel="shortcut icon" th:href="@{/images/indice.ico}" /> -->

<link rel="stylesheet" th:href="@{/resources/Content/css/style.css}" />
<link rel="stylesheet" th:href="@{/resources/Content/css/skin.css}" />
<link rel="stylesheet" th:href="@{/resources/bootstrap-table/bootstrap-table.css}" />

<link rel="stylesheet" th:href="@{/resources/Scripts/jquery-plugin/jquery-bonsai-master/jquery.bonsai.cs}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/jquery-plugin/jquery-bonsai-master/svg-icons.css}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/bootstrap-jquery-ui/js/bootstrap-datepicker.css}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/bootstrap-jquery-ui/js/summernote.css}" />
<link rel="stylesheet" th:href="@{/resources/Content/bootstrap/css/bootstrap-select.css}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/bootstrap-jquery-ui/js/bootstrap.fileupload.css}" />
<link rel="stylesheet" th:href="@{/resources/Content/css/xpress.css}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/alertifyjs/css/alertify.min.css}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/alertifyjs/css/themes/default.min.css}" />
<link rel="stylesheet" th:href="@{/resources/Scripts/alertifyjs/css/themes/semantic.min.css}" />
<link rel="stylesheet" th:href="@{/resources/Content/css/xpress.css}" />


<!-- <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE" th:text="${#messages.msg('title.prefix')}">.</title> -->
</head>
<body >
	
</body>
</html>
